.App {
  
  text-align: center;
}
.top-header {
  display: flex;
  align-items: center;  
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Add if needed: Align items at the start and end */ 
  padding-top: 3px;
  padding-left: 10px;
  padding-bottom: 3px;
  
  height: 110px;
  margin: 0;
}
.logo-container {
  width: 105px; 
  height: 105px;
  margin-top: 15px;
  object-fit: contain;
  overflow: hidden; 
  padding-left: 10px;
   
}

.logo-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.user-name{
  text-align: left;
}

body {
	background-color: rgba(225, 211, 204, 0.7); /* Background color with 70% opacity */
		  
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E1D4C1", endColorstr="#E1D3CC", GradientType=1 );
	font-family: 'Calibri', 'Roboto', sans-serif;
}